[submodule "submodules/modelcontextprotocol"]
	path = submodules/modelcontextprotocol
	url = https://github.com/modelcontextprotocol/modelcontextprotocol.git
[submodule "submodules/typescript-sdk"]
	path = submodules/typescript-sdk
	url = https://github.com/modelcontextprotocol/typescript-sdk.git
[submodule "submodules/odata2ts"]
	path = submodules/odata2ts
	url = https://github.com/odata2ts/odata2ts
[submodule "submodules/sap-cloud-sdk-js"]
	path = submodules/sap-cloud-sdk-js
	url = https://github.com/SAP/cloud-sdk-js.git
[submodule "submodules/ts-odata-client"]
	path = submodules/ts-odata-client
	url = https://github.com/cbrianball/ts-odata-client
[submodule "submodules/odata2ts-fork"]
	path = submodules/odata2ts-fork
	url = https://github.com/ntrtd/odata2ts
[submodule "submodules/EDMXTrimmer"]
	path = submodules/EDMXTrimmer
	url = https://github.com/shashisadasivan/EDMXTrimmer
[submodule "submodules/ODataConnectedService"]
	path = submodules/ODataConnectedService
	url = https://github.com/OData/ODataConnectedService
[submodule "submodules/ai-agents-for-beginners"]
	path = submodules/ai-agents-for-beginners
	url = https://github.com/microsoft/ai-agents-for-beginners.git
[submodule "submodules/csharp-sdk"]
	path = submodules/csharp-sdk
	url = https://github.com/modelcontextprotocol/csharp-sdk.git
[submodule "submodules/autogen"]
	path = submodules/autogen
	url = https://github.com/microsoft/autogen.git
[submodule "submodules/archiverse"]
	path = submodules/archiverse
	url = https://github.com/ntrtd/archiverse.git
[submodule "submodules/CopilotKit"]
	path = submodules/CopilotKit
	url = https://github.com/CopilotKit/CopilotKit.git
[submodule "submodules/ai-chatbot"]
	path = submodules/ai-chatbot
	url = https://github.com/vercel/ai-chatbot.git
[submodule "submodules/whatsapp-nodejs-sdk"]
	path = submodules/whatsapp-nodejs-sdk
	url = https://github.com/WhatsApp/WhatsApp-Nodejs-SDK.git
[submodule "submodules/botframework-sdk"]
	path = submodules/botframework-sdk
	url = https://github.com/microsoft/botframework-sdk.git
[submodule "submodules/botbuilder-dotnet"]
	path = submodules/botbuilder-dotnet
	url = https://github.com/microsoft/botbuilder-dotnet.git
